<!DOCTYPE html>
<html>

<head>
    <title>Main Page</title>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <h1>Welcome to the Main Page</h1>
    </header>
</body>

</html>