@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: #b6b6b6;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(126, 126, 128);
    border-radius: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100%;
    background-color: #eef2f8;
}

