@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: #b6b6b6;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(126, 126, 128);
    border-radius: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100%;
    background-color: #eef2f8;
}

section {
    background-color: #a3a3a34f;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 2000px;
    padding: 20px;
}

.hello {
    display: block;
    margin-top: 130px;
    color: #202642;
    font-size: 26px;
    font-weight: 600;
}

folders {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
}

folder {
    height: 200px;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

folder img {
    width: 60px;
    height: 60px;
    margin: 35px 0 0 45px;
}

folder .name {
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0 0 45px;
}